*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
}

header{
    margin: 0 auto;
}
nav{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}
.menu ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}
@media (max-width:620px) {
    .menu ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.menu ul li a{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    text-decoration: none;
    list-style: none;
}

/* ABOUT */
.aboutme:hover .about{
    display: flex;
}
.about{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #717070;
}
.about a{
    padding: 10px 1rem;
    font-size: 15px;
    color: #fff;
}
.about a:hover{
    background-color: #505050;
}

/* CONTACT */
.contact{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #787878;
}

.contact a{
    color: #9a9a9a;
    padding:10px;
    font-size: 15px;
    text-decoration: none;

}
.contact a:hover{
    background-color: #505050;
}
.contactme:hover .contact{
    display: flex;
}

.header{
    text-align: center;
    width: 800px;
    position: relative;
    /* box-shadow: 0px 0px 40px red; */
    border-radius: 5px;
    margin: auto;
    margin-top: 2rem;
    background: repeating-conic-gradient(from var(--a),#a40000 0%,#b10000 10%, transparent 10%, transparent 50%);
    animation: circleAnime 6s linear infinite;
}

.header::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),#d30000 0%,#d40000 10%, transparent 10%, transparent 50%);
    animation: circleAnime 6s linear infinite;
    animation-delay: -1.5s;
}
.header::after{
    content: '';
    position: absolute;
    inset: 5px;
    border: 5px solid #00b1cd;
    background-color:#000000;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value:0deg ;
}
@keyframes circleAnime{
    0%{
        --a:0deg;
    }
    100%{
       --a:360deg;
    }
}
.header form{
    position: relative;
    z-index: 10;
}










@media(max-width:620px){
    .header{
        width: 300px;
    }
    .header h1{
        font-size: 20px
    }
    .header{
        border: none;
    }
}
.header img{
    margin-top: 5rem;
    box-shadow: 0px 0px 50px rgb(250, 27, 27);
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.header h1{
    margin: 2rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.header p{
    margin: auto;
    width: 500px;
    color: #fff;
}
.contact a i{
    color: #fff;
    font-size: 50px;
}
.icon{
    position: relative;
    display: flex;
    gap: 2rem;
    margin-left:20%;
    margin-bottom: 2rem;
}
.icon a{
    display: flex;
    flex-direction: column;
}

.fa-brands{
   color: #fff;
   font-size: 30px;
   margin: 5px;
}
@media(max-width:620px){
    .fa-brands{
        font-size: 15px;
        margin: -10px;
    }
    .icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .header p{
        font-size: 12px;
        width: 300px;
    }
}
.fa-brands:hover{
    color: rgb(47, 0, 255);
}
.tooltip{
    font-size: 15px;
    color: #fff;
    transform: translateY(-50%);
    opacity: 0;
    transition: .5s;
}
.icon a:hover .tooltip{
    opacity: 1;
    transform: translateY(50%);
}

.button{
    text-align: center;
    margin: auto;
}
.btn{
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    color: #000;
    font-weight: 700;
    border-radius: 0;
    text-transform: uppercase;
    margin: 25px;
    overflow: hidden;
    position: relative;
}
.btn::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #4000ff,transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}
.btn:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #0800ff;
    color: #ffff;
}
.btn:hover::before{
    transform: translateX(100%);
    box-shadow: 0 0 20px 5px #4000ff;
}
.btn:nth-child(2) {
    border: 1px solid #e819ef;
}
.btn:nth-child(2)::before{
    background: linear-gradient(120deg,transparent,#e819ef, transparent);
}
.btn:nth-child(2):hover{
    color: #fff;
    box-shadow: 0px 0px 20px 5px #e819ef;
}
.btn:nth-child(3){
    border: 1px solid#67dc1e;
}
.btn:nth-child(3)::before{
    background: linear-gradient(120deg,transparent,#fff700,transparent);
}
.btn:nth-child(3):hover{
    color: #fff;
    box-shadow: 0 0 20px 5px #fbff00;
}
